<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="RockSolidSoftware_BookRental::admin" title="Admin" sortOrder="50">
                    <resource id="RockSolidSoftware_BookRental::configuration" title="Configuration" sortOrder="1"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>