@import 'mixins';

#book-rental {
    h2.light {
        font-weight: 300;
        span {
            font-weight: 500;
        }
    }
    .books-pagination {
        display: flex;
        margin-top: 30px;
        padding-top: 15px;
        justify-content: center;
        border-top: 1px solid whitesmoke;
        a {
            margin: 0 10px;
            display: block;
            &.active {
                font-weight: bold;
            }
        }
    }
    .book-show-box {
        text-align: center;
        h2 {
            font-size: 30px;
            font-weight: 300;
        }
        h4 {
            color: gray;
            font-size: 14px;
            font-weight: 300;
        }
        .book-status-taken {
            margin: 40px 0;
            span {
                color: gray;
                font-size: 12px;
                padding: 0 20px;
                font-weight: 600;
                display: inline-block;
                border-left: 2px solid whitesmoke;
                border-right: 2px solid whitesmoke;
            }
            a {
                font-size: 12px;
                margin: 50px 0 0 0;
                display: inline-block;
            }
        }
        .book-status-free {
            margin: 40px 0;
            a {
                font-size: 16px;
                margin: 50px 0 0 0;
                display: inline-block;
            }
        }
    }
    .book-rent-entry {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        @include animate(background-color 0.15s);
        &:hover {
            background-color: whitesmoke;
        }
        > div {
            padding: 2px 5px 2px 15px;
        }
        &.taken {
            .book-rent-entry__title, .book-rent-entry__author {
                color: lightgray;
            }
        }
        .book-rent-entry__title {
            width: 250px;
            flex-shrink: 0;
            padding-left: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .book-rent-entry__author {
            flex-grow: 1;
            border-left: 1px solid whitesmoke;
        }
        .book-rent-entry__status {
            width: 200px;
            &.taken {
                color: lightgray;
                border-left: 2px solid lightgray;
            }
            &.available {
                color: green;
                border-left: 2px solid green;
            }
        }
    }
}