.slow-animate {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.slower-animate {
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }

.animate {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.faster-animate {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#book-rental h2.light {
  font-weight: 300; }
  #book-rental h2.light span {
    font-weight: 500; }
#book-rental .books-pagination {
  display: flex;
  margin-top: 30px;
  padding-top: 15px;
  justify-content: center;
  border-top: 1px solid whitesmoke; }
  #book-rental .books-pagination a {
    margin: 0 10px;
    display: block; }
    #book-rental .books-pagination a.active {
      font-weight: bold; }
#book-rental .book-show-box {
  text-align: center; }
  #book-rental .book-show-box h2 {
    font-size: 30px;
    font-weight: 300; }
  #book-rental .book-show-box h4 {
    color: gray;
    font-size: 14px;
    font-weight: 300; }
  #book-rental .book-show-box .book-status-taken {
    margin: 40px 0; }
    #book-rental .book-show-box .book-status-taken span {
      color: gray;
      font-size: 12px;
      padding: 0 20px;
      font-weight: 600;
      display: inline-block;
      border-left: 2px solid whitesmoke;
      border-right: 2px solid whitesmoke; }
    #book-rental .book-show-box .book-status-taken a {
      font-size: 12px;
      margin: 50px 0 0 0;
      display: inline-block; }
  #book-rental .book-show-box .book-status-free {
    margin: 40px 0; }
    #book-rental .book-show-box .book-status-free a {
      font-size: 16px;
      margin: 50px 0 0 0;
      display: inline-block; }
#book-rental .book-rent-entry {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }
  #book-rental .book-rent-entry:hover {
    background-color: whitesmoke; }
  #book-rental .book-rent-entry > div {
    padding: 2px 5px 2px 15px; }
  #book-rental .book-rent-entry.taken .book-rent-entry__title, #book-rental .book-rent-entry.taken .book-rent-entry__author {
    color: lightgray; }
  #book-rental .book-rent-entry .book-rent-entry__title {
    width: 250px;
    flex-shrink: 0;
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #book-rental .book-rent-entry .book-rent-entry__author {
    flex-grow: 1;
    border-left: 1px solid whitesmoke; }
  #book-rental .book-rent-entry .book-rent-entry__status {
    width: 200px; }
    #book-rental .book-rent-entry .book-rent-entry__status.taken {
      color: lightgray;
      border-left: 2px solid lightgray; }
    #book-rental .book-rent-entry .book-rent-entry__status.available {
      color: green;
      border-left: 2px solid green; }

/*# sourceMappingURL=style.css.map */
